*.o
*.drop
*.tar.gz
*.iso
*.log
.ninja_deps
.ninja_log
src/drop/drop
src/sink/sink
tests/test_tar
dist-packages/
distill-build/
distill-installer/
void-mklive/
void-packages/
usr/
sumifetch/
test_installer.exp
common
__pycache__/
